body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f48fb1;
    color: #333;
  }
.navbar {
    background-color: #e91e63;
    padding: 25px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  .navbar h1 {
    font-size: 24px;
    margin: 0;
    padding: 15px;
    transition: all 0.5s;
  }
  .navbar h1:hover{
    font-size: 37px;
    color: rgb(255, 230, 7);
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: 0.5s all;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  
  .navbar li {
    margin-left: 20px;
    position: relative;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.2s ease;
    
  }
  .navbar li a:hover {
    color: rgb(255, 230, 7);
  }
  
  .navbar li::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f48fb1;
    transition: width 0.2s ease;
  }
  
  .navbar li:hover::before {
    width: 100%;
  }
  .titulo{
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    color: #303030;
    font-weight: 600;
    padding: 25px;
    margin: 2px;
  }
  .chamativo{
    display: flex;
    align-items: center;
  }
  .texto{
    font-size: 25px;
    flex: 1;
    padding: 10px;
  }
  #primeirop{
    line-height: 2 !important;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
  }
 
  .inicial{
   /*align-items: center;
    justify-content: center;
    display:flex;*/
  }
  #chamativa{
   width: 800px;
    height: 500px;
    margin: 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}
.destaque{
    background-color: #e91e63;
}
hr{
    border-bottom: 2px solid #000;
}
.principal{
    background-color: f48fb1;
}
.cartoes{
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.nomepeq{
    color: #7b42f0 !important;
    text-align: center !important;
    font-weight:  bolder !important;
    margin-bottom: 3rem !important;
    font-size: 1.25rem;
    margin-top: 25px;
    line-height: 1.2;
}
.coluna{
    flex-direction: column !important;
    display: flex !important;

}
h3{
    color: rgb(255, 230, 7) !important;
    font-weight: bolder !important;
    font-size: 1rem;
}
.cartoes2{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-evenly;
}
.oportunidade{
    margin: 25px;
}
.criarconta{
    background-color: rgb(123,66,240);
    text-align: center !important;
    flex: 1 1 auto;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.5rem;
    font-size: 25px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    color: white;
    
}
.criarconta:hover{
    color: #000000;
    background: #ffc107;
    border-color: #000000;
    transition: all 0.3s ease-in-out;
}
#crie{
    font-size: 25px;
}
/* -----------*/

footer{
    background: #e91e63;
    padding: 50px;
}

.container-footer{
    max-width: 1400px;
    padding: 0.4%;
    margin: auto;
    border-top: 0.4px solid #ffe7e7;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: rgb(0, 6, 12);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(7, 0, 0);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s;

}
.footer-col ul li a:hover{
    color: rgb(255, 230, 7);
    padding-left: 10px;    
}
.medias-socias{
    margin-top: 10px;
}
.medias-socias a{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 50px, solid black;
    transition: all 0.5s ease;
}
.medias-socias a i{
    font-size: 20px;
}
.medias-socias a:hover{
    color:rgb(255, 42, 99);
    background-color: white;
}
.footer-col .form-sub input{
    width:100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: rgb(255, 255, 255);;
}
.footer-col .form-sub input::placeholder{
    color: rgb(0, 0, 0);
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(245, 94, 134);
}